.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.carousel-section {
    flex: 2;
    margin-left: -100px;
}

.cards-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -180px;
    margin-top: 1%;
}

.top-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 70%;
    height: 200px;
    background-image: url('../assets/hero-card1.PNG');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    background-size: 100px;
}

.top-card h4 {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.top-card h2 {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 10px;
}

.top-card p {
    font-size: 1.2rem;
    color: #e60023;
    margin-bottom: 20px;
}

.top-card button, .bottom-card button {
    background-color: #ff7f50;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    width: 40%;
    border-radius: 10px;
    text-align: left;
}
.top-card button svg, .bottom-card button svg{
    margin-left: 80%;
    margin-top: -20px;
}
.bottom-card {
    background-color: #F2F4F5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(134, 134, 134);
    text-align: right;
    width: 70%;
    height: 200px;
    background-image: url('../assets/hero-card2.PNG');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 120px;
}

.bottom-card h4 {
    font-size: 20px;
    color: #333;
}

.bottom-card h2 {
    color: #000;
    font-size: 22px;
    margin-bottom: 20%;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        justify-content: space-between;
    }

    .carousel-section {
        width: 160%;
        margin-left: -30%;
    }

    .cards-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 0px;
        margin-top: 5%;
    }

    .cards-section .top-card,
    .cards-section .bottom-card {
        width: 160%;
        margin-left: 5%;
    }
    .top-card h4, .bottom-card h4 {
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    .top-card h2, .bottom-card h2 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .top-card p, .bottom-card p {
        font-size: 14px;
        font-weight: 800;
        margin-bottom: 10px;
    }
    
    .top-card button, .bottom-card button {
        width: 40%;
        height: 30px;
        font-size: 10px;
        padding: 5px 20px;
    }
    .top-card button svg, .bottom-card button svg{
        height: 70%;
        width: 70%;
        margin-left: 50%;
        margin-top: -15px;
    }
}