:root {
    --bg-color: #0e0e0e;
    --second-bg-color: #040e20;
    --text-color: #fff;
    --main-color: #0ef;
    --gradient-color: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
    --gradient-color2: background: linear-gradient(to right, #00ccff 0%, #6699ff 100%);


    --hue-color: 250;
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --text1-color: hsl(var(--hue-color), 8%, 45%);
    --title-color: hsl(var(--hue-color), 8%, 15%);



}

.section_title {
    font-size: 1.5rem;
    text-align: center;
}

.section_subtitle {
    display: block;
    margin-bottom: 3rem;
    /* align-items: center; */
    text-align: center;
    font-size: 1.5rem;
}

.skills_name {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: .8rem;
}

.container {
    /* max-width: 768px; */
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.skills_data img {
    width: 2.5rem;
    height: 2.5rem;
}

.skills_container {

    align-items: center;
}

.skills_content {
    padding: .5rem .5rem;

    transition: .5s;

}

.skills_content:hover {
    box-shadow: 0 0 1rem var(--main-color);

}


/* Qualification */
.qualification {
    background: var(--second-bg-color);
}

.container {
    padding: 35px 10%;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.col header.title {
    padding: 0 0 20px 30px;
}

.col .contents {
    padding: 0 30px;
    border-left: 2px solid #bababa;
}

.col .contents .box {
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    /* background-color: #ffffff; */
    cursor: pointer;
    transform: all .5s ease;
    margin-bottom: 20px;
}

.col .contents .box:hover {
    box-shadow: 0 3px 12px 0 #ccc;
    border: 1px solid transparent;
    /* transform: scale(1.02); */

}

.col .contents .box::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 0 1rem var(--main-color);
    ;
    right: calc(100% + 24px);
    top: 50px;
    background-color: var(--main-color);
    /* border: 2px solid white; */
}

.box h4 {
    position: relative;
    color: #11a372;
    font-size: 1.2rem;
}

.col .title h2 {
    font-size: 2.5rem;
}

.edu_icons {
    font-size: 3rem;
}

.box h3 {
    font-size: 15px;
    padding: 10px 0 6px;
    /* font-family: helvetica; */
    /* color: #444; */
}

@media(max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
    }

    .row .col:nth-child(2) {
        margin-top: 30px;
    }
}

h5 {
    font-size: 1.5rem;
}



/*Footer  */




/* .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--bg-color);
}

footer {
    position: relative;
    width: 100%;
    background: var(--main-color);
    min-height: 100px;
    padding: 20px 50px;

} */


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--bg-color);
}

.footer .footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.footer .icons li {
    list-style: none;
}

.footer .icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #fff;
    border-radius: 50%;
    font-size: 2rem;
    color: #fff;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.footer .icons a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    transform: translateY(-10px);
}

.footer .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.footer .menu li {
    list-style: none;
}

.footer .menu li a {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline;
    transition: .5s;
    text-decoration: none;
    opacity: .75;
}

.footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* after clicking read more */
.about-content .hidden {
    display: none;
}