/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: mediumturquoise
}

/* Hero Section */
.hero {
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./thor.jpg') no-repeat center center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.7);
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links li {
    display: inline;
}

.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* Hero Content */
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
#cta-btn {
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color:red;
}
#cta-btn:hover{
    background-color: greenyellow;
    color: black;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

#deals h1:nth-child(even) {
    color: blue; /* Change the color as desired */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
}
.social-icons a {
    text-decoration: none;
    color: #000; /* Default icon color */
    font-size: 24px; /* Icon size */
}
.social-icons a:hover {
    color: #007bff; /* Icon color on hover */
}