@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800;900&display=swap");
:root {
  --font-main: "Inter", sans-serif;
  --colo-primary: #db4444;
  --colo-dark-1: #000000;
  --colo-dark-2: #7d8184;
  --colo-white-1: #ffffff;
  --colo-white-2: #f5f5f5;
  --color-green: #00d656;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  /* 1 rem 10px */
}
body {
  font-family: var(--font-main);
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0rem 1rem;
}

/* navbaar */
.nav {
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid var(--colo-dark-2);
  }
  .nav_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_list {
    display: flex;
  }
  .nav_items {
    display: flex;
  }
  .nav_logo {
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--colo-dark-1);
  }
  .nav_item {
    margin: 0rem 0.5rem;
  }
  .nav_link {
    padding: 0.6rem;
    color: var(--colo-dark-1);
  }
  .nav_form {
    padding: 0.8rem;
    background-color: var(--colo-white-2);
    display: flex;
    align-items: center;
  }
  .nav_input {
    padding: 0.4rem;
    background-color: transparent;
    outline: none;
    border: none;
  }
  .nav_search {
    cursor: pointer;
  }
  .nav_items {
    display: flex;
    align-items: center;
  }
  .nav_heart {
    margin-left: 1rem;
    cursor: pointer;
  }
  .nav_cart {
    margin-left: 1rem;
    cursor: pointer;
  }
  
  /* header */
  .header_container {
    width: 100%;
    display: flex;
    margin-top: 4rem;
  }
  .header_filter {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .header_filter_link {
    color: var(--colo-dark-1);
  }