@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: "DM Sans",sans-serif;
}