@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
 :root{
    --primary:#212738;
    --secondary:#F97068;
    --white: #fff;
    --bg-color: #f4f4f4;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);

 }
 *{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none; text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--primary);
    text-transform: uppercase;
}

.heading span{
    color: var(--secondary);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: var(--secondary);
    color: var(--white);
    cursor: pointer;
}

.btn:hover{
    background: var(--primary);
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: var(--white);
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--secondary);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--primary);
}

.header .navbar a:hover{
    color: var(--secondary);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    color: var(--primary);
    font-size: 2.5rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    color: var(--secondary);
}

#menu-btn{
    display: none;
}

.header .shopping-cart{
    position: absolute;
    top: 110%; right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: var(--white);
}

.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img{
    height: 10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%; right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
    color: var(--secondary);
}

.header .shopping-cart .box .content h3{
    color: var(--primary);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content .price{
    color: var(--secondary);
    font-size: 1.6rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--primary);
}

.header .shopping-cart .btn{
    display: block;
    margin: 1rem;
    text-align: center;
}

   
.hero{
    padding: 0;
}

.hero .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .slide .content{
    width: 70rem;
    text-align: center;
    display: none;
}

.hero .slide .content img{
    padding-top: 7.5rem;
    animation: fade 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
}

.hero .slide .content h3{
    font-size: 5rem;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    color: var(--white);
    line-height: 1.3;
    padding: 2rem 0;
    animation: fade 0.4s cubic-bezier(.54,1.3,.63,1.34) .4s backwards;
}

.hero .slide .content h3
span{
    color:var(--secondary);
    text-transform:
    uppercase;
}

.hero .swiper-slide-active .content{
    display: inline-block;
}

.special .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 0 4rem;
    text-align: center;
    justify-content: center;
}

.special .box-container .box{
    flex: 1 1 40rem;
}
.special .box-container .box img{
    width: 100%;
}
.special .box-container .box h3{
    font-size: 2.5rem;
    color: var(--secondary);
    padding-top: 1rem;
}

.special .box-container .box p{
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}

.special .box-container .box .price{
    color: var(--primary);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

.special .box-container .box .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.order .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    
@media (max-width: 768px) {
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: var(--white);
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .hero .slide .content h3{
        font-size: 3rem;
    }
}
