
    .head h6{
        font-family: "Tangerine", cursive;

        font-size: 1.8rem;
    }
        
    .typewriter{
        position: relative;
    }
    .typewriter::after{
        content: '|';
        position: absolute;
        right: 0;
        color: white;
        background-color: #070600;
        width: 100%;
        animation: typing 1.2s steps(10) alternate infinite,
                    line 1s infinite;
    }
    @keyframes typing{
        to{
            width: 0%;
        }
    }
    @keyframes line {
        50%{
            color: transparent;
        }
    }
    
.hero-section {
        background-color: #070600;
        height: 100%;
        margin: 0;
    }
.head h1{
    font-family:"Pirata One", system-ui;
    color: #FFD700;
}
.head-text, .head-img{
    padding: 0 0 2rem 0;
}
.text-justify {
    text-align: justify;
  }
.btn-outline-secondary{
    border: 1px solid white;
    color: white;
    font-family: "Marcellus SC", serif;
    border-radius: 0;
}
.btn-outline-secondary:hover{
    color: #070600;
    background-color: white;
}
.navbar{
    border-radius: 10rem;
   margin-top: 1rem;
   --bs-bg-opacity: 1;
   z-index: 100;
   background-color: white;
   /* background-image: linear-gradient(135deg, #31318b, #1c1c2c, #071669, #011031); */
   transition: background 1s ease-out;
   font-weight: 500;
}

.navbar-nav{
    left: 50%;
}
section{
    height: 90vh;
    padding-top: 5rem;
    z-index: 2;
}

.mynavbar{
    margin-bottom: 1.5rem;
}
.nav-link{
    color: #070600;
    font-family: "Marcellus SC", serif;
    
}

.nav-link:hover {
    background:#070600;
    box-shadow: 4px 4px 6px rgba(194, 127, 250, 0.1);

    border-radius: 0.5rem;
    font-weight: 600;
    color: #FFD700;
}
@media (max-width: 991.98px) {
    .navbar{
        border-radius: 40px;
    }
    .nav-link{
        padding-left: 15px;
    }
    .navbar-nav{
        padding-top: 10px;
    }
  }
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler-icon:focus-visible{
    outline: none;
}
.navbar-toggler:focus-visible, .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}