.navbar {
  width: 100%;
  background-color: #333;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  margin: 0;
  flex-wrap: wrap;
}

.navbar-item {
  position: relative;
  margin: 0.5rem 0;
}

.navbar-item a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  letter-spacing: 2px;
  transition: color 0.3s ease;
  font-weight: 500;
}

.navbar-item a:hover {
  color: #edc84b;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #e4e4e4;
  min-width: 160px;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  border-radius: 4px;
  border: 1px solid rgb(191, 191, 191);
}

.navbar-item:hover .dropdown {
  display: block;
}

.dropdown li {
  padding: 1rem;
  text-align: left;
  transition: background-color 0.3s ease;
}

.dropdown li:hover {
  background-color: #d0d0d0;
}

.dropdown li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 500;
}

.dropdown li:hover a {
  color: #e40000;
}

@media (max-width: 768px) {
  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-item a {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }
}
