.navbar {
  width: 100%;
  background-color: #333;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 0;
}

.navbar-item {
  position: relative;
}

.navbar-item a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  transition: color 0.3s ease;
}

.navbar-item a:hover {
  color: #edc84b;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
}

.navbar-item:hover .dropdown {
  display: block;
}

.dropdown li {
  padding: 1rem;
  text-align: left;
  transition: background-color 0.3s ease;
}

.dropdown li:hover {
  background-color: #555;
}

.dropdown li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.dropdown li:hover a {
  color: #edc84b;
}
